<!DOCTYPE html>
<html>
<head>
    <title>Login | Palu-Cater</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h2>PALU-CATER</h2>
        <p>Sistem Manajemen Katering Palu</p>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button class="btn" onclick="window.location.href='/'">MASUK</button>
        <a href="/register" class="link">Belum punya akun? Daftar di sini</a>
    </div>
</body>
</html>
